<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646821340570-c5g24j1l3funhd12h3ebrc3nu8i3rhft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646821340570-c5g24j1l3funhd12h3ebrc3nu8i3rhft</string>
	<key>API_KEY</key>
	<string>AIzaSyChLt68RYisGTTq51TxIjVP2S-ASsAnLyU</string>
	<key>GCM_SENDER_ID</key>
	<string>646821340570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EM3</string>
	<key>PROJECT_ID</key>
	<string>survey-274da</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-274da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646821340570:ios:c28c148253a501cbc78623</string>
	<key>DATABASE_URL</key>
	<string>https://survey-274da.firebaseio.com</string>
</dict>
</plist>